body, html {
    font-family: 'Rubik', sans-serif;
}

body {
    display: flex;
    margin: 0;
    height: 100vh;
}

.map-container {
    flex-grow: 1;
    position: relative;
}

gmp-map {
    width: 100%;
    height: 100%;
    position: relative;
}

.info-container {
    display: grid;
    width: 13%;
    grid-template-rows: auto auto;
    gap: 10px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 1000;
}

#heatmap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 1000;
}

.map-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
    pointer-events: none;
}

.map-legend {
    position: relative;
    background: rgba(217, 157, 120, 0.11);
    backdrop-filter: blur(8px);
    box-shadow: 4px 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 10px;
    font-family: Rubik, sans-serif;
    font-size: 14px;
    z-index: 100;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0s linear 0.5s;
}

.map-legend.active {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.3s ease, visibility 0s linear 0s;
}

.map-legend h3 {
    margin: 0 0 5px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
}

.map-legend ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.map-legend li {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    color: rgba(0, 0, 0, 0.5);
}

.legend-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    vertical-align: middle;
}

.legend-color {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border: 1px solid #000;
    color: rgba(0, 0, 0, 0.5);
}


input[type="checkbox"] {
    accent-color: #6d8149;
}

#dropdown-menu {
    position: absolute;
    width: 41%;
    background-color: rgba(117, 156, 87, 0.97);
    color: white;
    font-family: 'Rubik', sans-serif;
    font-size: 15px;
    font-weight: 600;
    margin-top: 3px;
    padding: 11px;
    border-radius: 8px;
    z-index: 100;
    opacity: 0;
    transform: translateY(-10px);
    pointer-events: none;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

#dropdown-menu.show {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.place-picker-container {
    font-family: 'Rubik', sans-serif;
    display: flex;
    position: fixed;
    justify-content: center;
    width: 100%;
    padding-top: 35px;
    border-color: transparent;
}

.grid-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.row {
    display: grid;
    grid-template-columns: 120px 1fr;
    align-items: center;
    margin-bottom: 0;
}

.side-panel {
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 100%;
    padding: 20px;
    background: rgba(217, 157, 120, 0.11);
    backdrop-filter: blur(8px);
    box-shadow: 4px 0 10px rgba(0, 0, 0, 0.2);
    z-index: 5;
    overflow-y: auto;
    transition: transform 0.3s ease;
    transform: translateX(-100%);
}

.side-panel.open {
    transform: translateX(0);
}

.side-panel.closed {
    transform: translateX(-100%);
}

.side-panel-menu {
    font-family: 'Rubik', sans-serif;
    font-size: 25px;
    font-weight: bolder;
    text-align: center;
    color: rgba(117, 156, 87, 0.92);
    margin-top: 5px;
    margin-bottom: 20px;
    padding: 10px;
    z-index: 5;
}

.custom-button {
    display: block;
    text-decoration: none;
    width: 90%;
    padding: 12px;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    font-weight: 800;
    color: white;
    background: rgba(117, 156, 87, 0.92);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s;
    text-align: center;
    z-index: 5;
}

.custom-button:hover {
    background: rgba(117, 156, 87, 0.92);
    transform: translateY(-2px);
}

.custom-button:active {
    transform: translateY(1px);
}

.side-panel-close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    font-size: 20px;
    color: #ffffff;
    cursor: pointer;
    padding: 5px;
    line-height: 1;
    font-weight: bold;
    transition: color 0.2s;
    z-index: 5;
}

.side-panel-close-button:hover {
    color: #ff6666;
}

#side-panel-open-button {
    display: block;
    position: fixed;
    width: 50px;
    padding: 12px;
    top: 25px;
    left: 20px;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: white;
    background: rgba(117, 156, 87, 0.92);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s;
    z-index: 10;
    text-align: center;
}

#side-panel-open-button:hover {
    background: rgba(117, 156, 87, 0.92);
    transform: translateY(-2px);
}

#side-panel-open-button:active {
    transform: translateY(1px);
}

.temperature-icon{
    width: 85%;
    height: 85%;
    z-index: 5;
}

.air-icon{
    width: 75%;
    height: 75%;
    padding-left: 5px;
    z-index: 5;
}

.green-icon {
    width: 85%;
    height: 85%;
    z-index: 5;
}

.safety-icon{
    width: 75%;
    padding-left: 7px;
    z-index: 5;
}

.access-icon{
    width: 60%;
    padding: 15px;
    z-index: 5;
}

.tourist-icon{
    width: 85%;
    padding-top: 10px;
    z-index: 5;
}

.report-icon{
    width: 83%;
    padding-bottom: 10px;
    z-index: 5;
}

.go-back-container {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin: 20px;
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    color: #6d8149;
    transition: color 0.3s ease;
}

.go-back-container:hover {
    color: #455c29;
}

.arrow-left {
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-right: 8px solid #6d8149;
    margin-right: 8px;
    transition: border-right-color 0.3s ease;
}

.go-back-container:hover .arrow-left {
    border-right-color: #455c29; /* Darker arrow on hover */
}

.go-back-text {
    font-weight: 500;
}


.weather-info {
    position: relative;
    overflow: hidden;
    padding: 20px;
    background: rgba(217, 157, 120, 0.11);
    backdrop-filter: blur(8px);
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    z-index: 100;
    color: #333;
    max-height: 300px;
}

.weather-header {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    z-index: 100;
    color: rgba(0, 0, 0, 0.5);
}

.weather-icon {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    z-index: 100;
    color: rgba(0, 0, 0, 0.5);
}

.weather-condition {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    z-index: 100;
    color: rgba(0, 0, 0, 0.5);
}

.weather-details p {
    margin: 2px 0;
    z-index: 100;
}

.weather-details p span {
    font-weight: bold;
    color: rgba(0, 0, 0, 0.5);
    z-index: 100;
}

.weather-details.hidden{
    max-height: 0;
    opacity: 0;
    padding: 0;
    pointer-events: none;
}

.criteria-container {
    position: relative;
    padding: 20px;
    background: rgba(217, 157, 120, 0.11);
    backdrop-filter: blur(8px);
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    z-index: 100;
    color: #333;
}

.criteria-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.criteria-header h3 {
    margin: 0;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.5);
}

.criteria-content {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 1px;
    padding: 5px;
    text-align: left;
    transition: max-height 0.3s ease, opacity 0.3s ease;
}

.criteria-content.hidden {
    max-height: 0;
    opacity: 0;
    padding: 0;
    pointer-events: none;
}

.criteria-checkbox {
    margin-right: 10px;
    width: 13px;
    height: 13px;
    cursor: pointer;
}

.criteria-checkbox:checked + label {
    color: rgba(78, 104, 58, 0.92);
    font-weight: bold;
}

.minimize-button {
    position: absolute;
    top: 17px;
    right: 10px;
    background: transparent;
    border: none;
    font-size: 25px;
    color: rgba(51, 51, 51, 0.38);
    cursor: pointer;
    padding: 5px;
    line-height: 1;
    transition: color 0.2s;
    z-index: 5;
}

.minimize-button:hover {
    color: #333;
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 10000;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0s linear 0.3s;
}

.modal:not(.hidden) {
    visibility: visible;
    opacity: 1;
}

.modal-content {
    position: relative;
    color: rgba(0, 0, 0, 0.7);
    background: rgba(246, 237, 236, 0.93);
    padding: 25px;
    border-radius: 12px;
    width: 400px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    text-align: left;
}

.modal-content h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
}

.modal-content label {
    display: block;
    margin-bottom: 8px;
    font-weight: 500;
    color: #555;
}

.modal-content select,
.modal-content textarea,
.modal-content input {
    resize: none;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background: #f9f9f9;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.modal-content select:focus,
.modal-content textarea:focus,
.modal-content input:focus {
    border-color: #6d8149;
    box-shadow: 0px 0px 4px rgba(109, 129, 73, 0.5);
    outline: none;
}

.modal-content button.custom-button {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    font-weight: bold;
    background: #6d8149;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;
}

.modal-content button.custom-button:hover {
    background: #557033;
    transform: translateY(-2px);
}

.modal-content button.custom-button:active {
    transform: translateY(1px);
}

.modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    font-size: 20px;
    color: #aaa;
    cursor: pointer;
    transition: color 0.3s ease;
}

.modal-close:hover {
    color: #333;
}

.modal-close:focus {
    outline: none;
}

.file-upload-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.custom-file-label {
    display: inline-block;
    background: #f9f9f9;
    padding: 10px 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    color: #555;
    cursor: pointer;
    transition: background 0.3s ease, color 0.3s ease;
}

.custom-file-label:hover {
    background: #eee;
    color: #333;
}

#file-upload-text {
    margin-right: 10px;
    font-family: 'Rubik', sans-serif;
}

input[type="file"] {
    display: none;
}

#custom-alert .modal-content {
    width: 300px;
    text-align: center;
}

#custom-alert h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

#custom-alert p {
    font-size: 14px;
    margin-bottom: 20px;
}

#alert-ok-button {
    width: 80%;
    margin: 0 auto;
}
.custom-button:disabled {
    background: #ddd;
    color: #aaa;
    cursor: not-allowed;
    pointer-events: none;
}

.uploaded-photos-container {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 10px;
}

.uploaded-photo {
    position: relative;
    width: 70px;
    height: 70px;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    background-color: #f9f9f9;
}

.uploaded-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.remove-photo {
    position: absolute;
    top: 5px;
    right: 5px;
    background: #333333;
    color: white;
    border: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background 0.2s ease;
}

.remove-photo:hover {
    background: #ff6666;
}
