body, html {
    font-family: 'Rubik', sans-serif;
}

body {
    display: flex;
    margin: 0;
    height: 100vh;
}

.map-container {
    flex-grow: 1;
    position: relative;
}

gmp-map {
    width: 100%;
    height: 100%;
    position: relative;
}

.info-container {
    display: grid;
    width: 13%;
    grid-template-rows: auto auto;
    gap: 10px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 1000;
}

#heatmap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 1000;
}

.map-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
    pointer-events: none;
}

.map-legend {
    position: relative;
    background: rgba(217, 157, 120, 0.11);
    backdrop-filter: blur(8px);
    box-shadow: 4px 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 10px;
    font-family: Rubik, sans-serif;
    font-size: 14px;
    z-index: 100;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0s linear 0.5s;
}

.map-legend.active {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.3s ease, visibility 0s linear 0s;
}

.map-legend h3 {
    margin: 0 0 5px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
}

.map-legend ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.map-legend li {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    color: rgba(0, 0, 0, 0.5);
}

.legend-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    vertical-align: middle;
}

.legend-color {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border: 1px solid #000;
    color: rgba(0, 0, 0, 0.5);
}


input[type="checkbox"] {
    accent-color: #6d8149;
}

#dropdown-menu {
    position: absolute;
    background-color: rgba(117, 156, 87, 0.92);
    color: white;
    font-family: 'Rubik', sans-serif;
    font-size: 15px;
    font-weight: 600;
    margin-top: 3px;
    padding: 11px;
    border-radius: 8px;
    z-index: 100;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

#dropdown-menu.show {
    opacity: 1;
    transform: translateY(0);
}

.place-picker-container {
    font-family: 'Rubik', sans-serif;
    display: flex;
    position: fixed;
    justify-content: center;
    width: 100%;
    padding-top: 35px;
    border-color: transparent;
}

.grid-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.row {
    display: grid;
    grid-template-columns: 120px 1fr;
    align-items: center;
    margin-bottom: 0;
}

.side-panel {
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 100%;
    padding: 20px;
    background: rgba(217, 157, 120, 0.11);
    backdrop-filter: blur(8px);
    box-shadow: 4px 0 10px rgba(0, 0, 0, 0.2);
    z-index: 5;
    overflow-y: auto;
    transition: transform 0.3s ease;
    transform: translateX(-100%);
}

.side-panel.open {
    transform: translateX(0);
}

.side-panel.closed {
    transform: translateX(-100%);
}

.side-panel-menu {
    font-family: 'Rubik', sans-serif;
    font-size: 30px;
    font-weight: bolder;
    color: rgba(117, 156, 87, 0.92);
    margin-bottom: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
    z-index: 5;
}

.custom-button {
    display: block;
    text-decoration: none;
    width: 90%;
    padding: 12px;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    font-weight: 800;
    color: white;
    background: rgba(117, 156, 87, 0.92);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s;
    text-align: center;
    z-index: 5;
}

.custom-button:hover {
    background: rgba(117, 156, 87, 0.92);
    transform: translateY(-2px);
}

.custom-button:active {
    transform: translateY(1px);
}

.side-panel-close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    font-size: 20px;
    color: #ffffff;
    cursor: pointer;
    padding: 5px;
    line-height: 1;
    font-weight: bold;
    transition: color 0.2s;
    z-index: 5;
}

.side-panel-close-button:hover {
    color: #ff6666;
}

#side-panel-open-button {
    display: block;
    position: fixed;
    width: 50px;
    padding: 12px;
    top: 25px;
    left: 20px;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: white;
    background: rgba(117, 156, 87, 0.92);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s;
    z-index: 10;
    text-align: center;
}

#side-panel-open-button:hover {
    background: rgba(117, 156, 87, 0.92);
    transform: translateY(-2px);
}

#side-panel-open-button:active {
    transform: translateY(1px);
}

.temperature-icon{
    width: 85%;
    height: 85%;
    z-index: 5;
}

.air-icon{
    width: 75%;
    height: 75%;
    padding-left: 5px;
    z-index: 5;
}

.green-icon {
    width: 85%;
    height: 85%;
    z-index: 5;
}

.safety-icon{
    width: 75%;
    padding-left: 7px;
    z-index: 5;
}

.access-icon{
    width: 60%;
    padding: 15px;
    z-index: 5;
}

.tourist-icon{
    width: 85%;
    padding-top: 10px;
    z-index: 5;
}

.weather-info {
    position: relative;
    padding: 20px;
    background: rgba(217, 157, 120, 0.11);
    backdrop-filter: blur(8px);
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    z-index: 100;
    color: #333;
}

.weather-header {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    z-index: 100;
    color: rgba(0, 0, 0, 0.5);
}

.weather-icon {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    z-index: 100;
    color: rgba(0, 0, 0, 0.5);
}

.weather-condition {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    z-index: 100;
    color: rgba(0, 0, 0, 0.5);
}

.weather-details p {
    margin: 2px 0;
    z-index: 100;
}

.weather-details p span {
    font-weight: bold;
    color: rgba(0, 0, 0, 0.5);
    z-index: 100;
}
